<%= form_with(model: position) do |form| %>
  <% if position.errors.any? %>
    <div class="alert alert-danger mt-3">
      <h2 class="alert-heading mb-3"><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>
      <ul>
        <% position.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :title, 'Job title', class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :info, 'Information', class: "form-label" %>
    <%= form.text_area :info, class: "form-control", placeholder: "Information about the job here...", rows: 5, required: true %>
  </div>

  <% unless current_page?(new_position_path) %>
    <div class="mb-3 form-check">
      <%= form.label :available, 'Available?', class: "form-check-label" %>
      <%= form.check_box :available, class: "form-check-input" %>
    </div>
  <% end %>

  <div>
    <%= form.submit class:"btn btn-light"%>
  </div>
<% end %>
